<!DOCTYPE html>

@{
    var html_attributes = ViewBag.HTMLAttributes ?? "";
    var html_class = ViewBag.HTMLClass ?? "";
    var data_skin = ViewBag.DataSkin ?? "galaxy"; // default to galaxy
}
<html lang="en" class="@html_class" data-skin="@data_skin" @html_attributes>


<head>
    @await Html.PartialAsync("~/Views/Shared/Partials/_TitleMeta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/Shared/Partials/_HeadCSS.cshtml")
</head>

<body>

    <div class="wrapper">


        @await Html.PartialAsync("~/Views/Shared/Partials/_TopBar.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Partials/_SideNav.cshtml")


        <div class="content-page">

            @await Html.PartialAsync("~/Views/Shared/Partials/_Flash.cshtml")

            @RenderBody()

            @await Html.PartialAsync("~/Views/Shared/Partials/_Footer.cshtml")
        </div>


        @await Html.PartialAsync("~/Views/Shared/Partials/_FooterScripts.cshtml")

        @* SweetAlert2 Toasts and Helper Functions *@
        @await Html.PartialAsync("~/Views/Shared/Partials/_SweetAlertToasts.cshtml")

        @* Global Search Modal *@
        @await Html.PartialAsync("~/Views/Shared/Partials/_GlobalSearch.cshtml")

        @RenderSection("scripts", required: false)
    </div>

</body>

</html>